<div class="rectangle49"></div>
<div class="rectangle35"></div>
<div class="bitacoraDeCurso">Bitácora de Curso</div>
<div class="rectangle34"></div>
<div class="rectangle48"></div>
<div class="iTI524BasesDeDatosAvanzada">ITI-524 - Bases de Datos Avanzada</div>
<div class="bitacoraProfesor">Bitácora profesor</div>
<div class="rectangle28"></div>
<div class="estudiante">Estudiante:</div>
<div class="rectangle29"><img src="assets/rectangle-29-icon.svg" alt="" class="icon" /></div>
<div class="rectangle47"><img src="assets/rectangle-47-icon.svg" alt="" class="icon2" /></div>
<div class="carlosUgaldeMartinez">Carlos Ugalde Martinez</div>
<div class="_768OIu3">768OIu3</div>
<div class="rectangle31"></div>
<div class="rectangle32"><img src="assets/rectangle-32-icon.svg" alt="" class="icon3" /></div>
<div class="guardarYSalir">Guardar y Salir</div>
<div class="carlitosSeEncuentraUnPocoPerdi">Carlitos se encuentra un poco Perdido en la clase de hoy.</div>
<div class="IconArrowDown1"><img src="assets/-icon-arrow-down-1-icon.svg" alt="" class="icon4" /></div>
<div class="_2023716">2023/07/16</div>
<div class="carlitosSeEncuentraUnPocoPerdi2">Carlitos se encuentra un poco Perdido en la clase de hoy.</div>
<div class="_20237162">2023/07/16</div>
<div class="carlitosSeEncuentraUnPocoPerdi3">Carlitos se encuentra un poco Perdido en la clase de hoy.</div>
<div class="_20237163">2023/07/16</div>
<div class="codigoBitacora">Código Bitácora:</div>
<div class="recursos">Recursos</div>
<div class="ayuda">Ayuda</div>
<div class="rectangle41"><img src="assets/rectangle-41-icon.svg" alt="" class="icon5" /></div>
<div class="manuelPerez">Manuel Perez</div>
<div class="polygon4"><img src="assets/polygon-4-icon.svg" alt="" class="icon6" /></div>
<div class="sillaDeRuedas"><img src="assets/silla-de-ruedas-icon.svg" alt="" class="icon7" /></div>
<div class="marcSchmidtProfesorDeMatematic"></div>
<div class="indice1"></div>
<div class="image21"></div>
<div class="bienestarEstudiantil">Bienestar Estudiantil</div>
<div class="_2015UTNTodosLosDerechosReserva">© 2015 UTN Todos los Derechos Reservados</div>
