.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .custom-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .save-button {
    margin-top: 20px;
  }
  