<div class="container">
  <mat-form-field class="custom-form-field">
    <mat-label>Provincia</mat-label>
    <mat-select [(value)]="selectedProvincia" (selectionChange)="onProvinciaChange()">
      <mat-option *ngFor="let provincia of provincias" [value]="provincia.ProvinciaId">
        {{provincia.NombreProvincia}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="custom-form-field">
    <mat-label>Canton</mat-label>
    <mat-select [(value)]="selectedCanton" (selectionChange)="onCantonChange()">
      <mat-option *ngFor="let canton of cantones" [value]="canton.CantonId">
        {{canton.NombreCanton}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="custom-form-field">
    <mat-label>Distrito</mat-label>
    <mat-select [(value)]="selectedDistrito">
      <mat-option *ngFor="let distrito of distritos" [value]="distrito.DistritoId">
        {{distrito.NombreDistrito}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="custom-form-field">
    <textarea matInput placeholder="Dirección exacta"></textarea>
  </mat-form-field>

  <button mat-button color="primary" class="save-button">Guardar</button>
</div>
