<div class="rectangle123">
  <img src="../assets/Imagenes/LOGOUTN.png"/>
</div>
<div class="rectangle124"></div>
<div class="rectangle156"></div>
<div class="rectangle125"></div>
<div class="rectangle126">
  <button routerLink="/seguridad/login" style="color: black; width: 170px; height: 50px; background-color: white;" class="Header_Button" mat-button color="primary">Manuel Perez</button>
</div>
<div class="indice8"></div>
<button class="estudiantes" style="color: aliceblue;" mat-button>Informacion</button>
<button class="profesionales" style="color: aliceblue;" mat-button>Contacto</button>
<button class="profesores" style="color: aliceblue;" mat-button>F&Q</button>

<div class="group"><i class="bi bi-bell-fill"></i></div>
<div class="group6"><img src="../assets/Imagenes/Disable-Image.png" alt="" class="icon2" /></div>
<div class="image5"></div>

<div  class="iconoDeCampusVirtual"><div class="example-button-row">

  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
    <img src="../assets/Imagenes/Library.png" alt="" class="footer_Imgs">
  </button></div></div>
<div class="frame"></div>
<div class="frame2"></div>
<div class="frame3"><div class="example-button-row">
  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
    <img src="../assets/Imagenes/Book.png" alt="" class="footer_Imgs">
  </button></div></div>

  <div id="biblioteca" class="biblioteca">Biblioteca</div>

  


<div class="campusVirtual">
  <div class="textBlock">Campus virtual</div>
</div>
<div class="avatar">Avatar</div>
<div class="diccionarioInstitucional">
  <div class="textBlock3">Diccionario institucional</div>
</div>
<div class="ellipse172"></div>
<div class="group2"><div class="example-button-row">
  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
    <img src="../assets/Imagenes/Person.png" alt="" class="footer_Imgs">
  </button></div></div>
<div class="ellipse18"><div class="example-button-row">
  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
    <img src="../assets/Imagenes/Book.png" alt="" class="footer_Imgs">
  </button></div></div>
<div class="group3"></div>
<div class="atencionPsicologica"></div>
<div class="atencionPsicopedagogica"></div>
<div class="orientacionEstudiantil"></div>
<div class="image32"> <img src="../assets/Imagenes/Psicología_area.png" alt="" class="icon12" /> </div>
<div class="image30"><img src="../assets/Imagenes/Psicopedagogía_Area.png" alt="" class="icon12" /></div>
<div class="rectangle144"></div>

<button  routerLink="/consultas/visualizacion_Rapida" style="color: aliceblue; width: 150px; height: 30px;" class="masInformacionAqui" mat-button color="primary">Psicología</button>

<div class="rectangle151"></div>
<div class="rectangle153"></div>
<button routerLink="/consultas/visualizacion_Rapida" style="color: aliceblue; width: 150px; height: 30px;" class="masInformacionAqui3" mat-button color="primary">Psicopedagogia</button>
<div class="rectangle148"></div>
<div class="image31"> <img src="../assets/Imagenes/OrientacionEstudiantil_Area.png" alt="" class="icon12" /></div>
<div class="rectangle155"></div>
<button routerLink="/consultas/visualizacion_Rapida" style="color: aliceblue; width: 150px; height: 30px;" class="masInformacionAqui5" mat-button color="primary">Orientación Estudiantil</button>