<div class="rectangle64"><img src="../assets/Imagenes/rectangle-64-icon.svg" alt="" class="icon" /></div>
<div class="aTENCIONPSICOPEDAGOGICA">ATENCIÓN PSICOPEDAGÓGICA</div>
<div class="rectangle65"></div>
<!-- <div></div> -->
<div class="rectangle143"><img src="../assets/Imagenes/rectangle-143-icon.svg" alt="" class="icon2" /></div>
<div class="rectangle140"><img src="../assets/Imagenes/rectangle-140-icon.svg" alt="" class="icon3" /></div>
<div class="rectangle139"><img src="../assets/Imagenes/rectangle-139-icon.svg" alt="" class="icon4" /></div>
<div class="rectangle142"><img src="../assets/Imagenes/rectangle-142-icon.svg" alt="" class="icon5" /></div>
<button><div class="psicopedagogia">Psicopedagogía</div></button>
<button class="OrientacionEstudiantil"><div class="orientacionEstudiantil">Orientación estudiantil</div></button>
<button><div class="institucionesExternas">Instituciones externas</div></button>
<div class="rectangle66"></div>
<div class="pROCESOSDEBIENESTARESTUDIANTIL">PROCESOS DE BIENESTAR ESTUDIANTIL</div>
<div class="rectangle75"></div>
<div class="esteServicioEstaOrientadoABrin">
  <div class="textBlock">
    Este servicio está orientado a brindar atención psicopedagógica para estudiantes que requieran orientación ,
    evaluación y/o acompañamiento sobre los procesos de aprendizaje, con el fin de favorecer su desarrollo tanto a nivel
    individual como grupal en el ámbito educativo; guía para revisar y mejorar sus estrategias de estudio, organización
    del tiempo, entre otros componentes insertos en su éxito y permanencia en el contexto educativo.
  </div>
  <div class="textBlock2"><p></p></div>
  <div class="textBlock3"><p></p></div>
  <div class="textBlock4">
    La solicitud se realiza de forma voluntaria y personal por la persona estudiante que requiere la atención,
    escribiendo un correo electrónico a la persona Encargada de la Subárea de Bienestar Estudiantil.
  </div>
  <div class="textBlock5"><p></p></div>
  <div class="textBlock6">
    Se brinda el servicio en modalidad remota (telefónica o video llamada) o de manera presencial en el campus de la
    Sede.
  </div>
  <div class="textBlock7">
    Este es un servicio confidencial y gratuito, se ofrece durante todo el año y es exclusivo para estudiantes regulares
    de la sede Atenas, es decir, para estudiantes que están inscritos en una de las carreras que se imparte esta Sede en
    cualquiera de sus niveles y que haya formalizado su matrícula en el periodo lectivo vigente.
  </div>
  <div class="textBlock8"><p></p></div>
  <div class="textBlock9">
    El horario de atención es de lunes a viernes de 7:00 a.m. a 4:00 p.m. El servicio se brinda de acuerdo con el
    horario y disponibilidad de agenda de la persona profesional a cargo del servicio. Por lo tanto, se anotan los datos
    de la persona solicitante y se le contactará posteriormente para coordinar la cita.
  </div>
  <div class="textBlock10"><p></p></div>
  <div class="textBlock11">Si debe cancelar o reprogramar una cita, debe hacerlo con 24 horas de anticipación.</div>
  <div class="textBlock12"><p></p></div>
</div>
<div class="rectangle86"><img src="../assets/Imagenes/rectangle-86-icon.svg" alt="" class="icon6" /></div>
<div class="rectangle87"><img src="../assets/Imagenes/rectangle-87-icon.svg" alt="" class="icon7" /></div>
<div class="rectangle89"><img src="../assets/Imagenes/rectangle-89-icon.svg" alt="" class="icon8" /></div>
<div class="rectangle88"><img src="../assets/Imagenes/rectangle-88-icon.svg" alt="" class="icon9" /></div>
<div class="rectangle90"></div>
<div class="rectangle91"><img src="../assets/Imagenes/rectangle-91-icon.svg" alt="" class="icon10" /></div>
<div class="rectangle92"><img src="../assets/Imagenes/rectangle-92-icon.svg" alt="" class="icon11" /></div>
<div class="rectangle93"><img src="../assets/Imagenes/rectangle-93-icon.svg" alt="" class="icon12" /></div>
<div class="sede">Sede</div>
<div class="_2455100Ext1010">2455-10-00 ext.1010</div>
<div class="telefono">Teléfono</div>
<div class="citasbienestarAtenasUtnAcCr">
  <a href="mailto:citasbienestar.pacifico@utn.ac.cr" target="_blank" rel="noreferrer" class="textBlock13">
    citasbienestar.atenas@utn.ac.cr
  </a>
</div>
<div class="correo">Correo</div>
<div class="silviaRodriguezQuesada">Silvia Rodríguez Quesada</div>
<div class="responsable">Responsable</div>
<div class="atenas">Atenas</div>
<button><div class="rectangle141"><img src="../assets/Imagenes/rectangle-141-icon.svg" alt="" class="icon13" /></div></button>
<div class="rectangle134"></div>
<div class="bienestarEstudiantil">Bienestar Estudiantil</div>
<div class="solicitarCita">Solicitar Cita</div>
<div class="rectangle136"></div>
<div class="indice10"></div>
<button><div class="inicio">Inicio</div></button>
<button><div class="contacto">Contacto</div></button>
<button><div class="sobreNosotros">Sobre nosotros</div></button>
<button><div class="group"><img src="../assets/Imagenes/group-icon.svg" alt="" class="icon14" /></div></button>
<button><div class="psicologia">Psicología</div></button>
<div class="_2015UTNTodosLosDerechosReserva">© 2015 UTN Todos los Derechos Reservados</div>
