:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1528px;
  height: 1271px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle64 {
  position: absolute;
  left: 18px;
  top: 179px;
  width: 1164px;
  height: 94px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aTENCIONPSICOPEDAGOGICA {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27px;
  top: 207px;
  width: 506px;
  height: 53px;
  flex-direction: column;
}
.rectangle65 {
  position: absolute;
  left: 1204px;
  top: 179px;
  width: 303px;
  height: 645px;
  background-color: #d9d9d9;
}
.rectangle143 {
  position: absolute;
  left: 1264px;
  top: 297px;
  width: 190px;
  height: 41px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle140 {
  position: absolute;
  left: 1264px;
  top: 517px;
  width: 190px;
  height: 41px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle139 {
  position: absolute;
  left: 1264px;
  top: 372px;
  width: 190px;
  height: 41px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle142 {
  position: absolute;
  left: 1264px;
  top: 443px;
  width: 190px;
  height: 41px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.psicopedagogia {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1301px;
  top: 454px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.orientacionEstudiantil {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1272px;
  top: 384px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.institucionesExternas {
  color: #fff;
  font-size: 16px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1281px;
  top: 529px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle66 {
  position: absolute;
  left: 1204px;
  top: 179px;
  width: 306px;
  height: 94px;
  background-color: #1b3069;
}
.pROCESOSDEBIENESTARESTUDIANTIL {
  color: #fff;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1214px;
  top: 191px;
  width: 271px;
  height: 63px;
  flex-direction: column;
}
.rectangle75 {
  position: absolute;
  left: 18px;
  top: 292px;
  width: 1164px;
  height: 532px;
  background-color: #d9d9d9;
}
.esteServicioEstaOrientadoABrin {
  position: absolute;
  left: 27px;
  top: 309px;
  width: 1138px;
  height: min-content;
  text-align: justify;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle86 {
  position: absolute;
  left: 761px;
  top: 839px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle87 {
  position: absolute;
  left: 388px;
  top: 839px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle89 {
  position: absolute;
  left: 1134px;
  top: 839px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle88 {
  position: absolute;
  left: 17px;
  top: 839px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle90 {
  position: absolute;
  left: 761px;
  top: 934px;
  width: 373px;
  height: 95px;
  outline: solid 3px #fff;
  outline-offset: -3px;
  background-color: #9cc2e6;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle91 {
  position: absolute;
  left: 388px;
  top: 934px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle92 {
  position: absolute;
  left: 1134px;
  top: 934px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle93 {
  position: absolute;
  left: 17px;
  top: 934px;
  width: 373px;
  height: 95px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sede {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 857px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
._2455100Ext1010 {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1174px;
  top: 954px;
  width: 258px;
  height: 65px;
  flex-direction: column;
}
.telefono {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1182px;
  top: 857px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
.citasbienestarAtenasUtnAcCr {
  color: #4573a3;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 788px;
  top: 949px;
  width: 328px;
  height: 59px;
  flex-direction: column;
}
.textBlock13 {
  display: block;
}
.correo {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 795px;
  top: 857px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
.silviaRodriguezQuesada {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 423px;
  top: 949px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
.responsable {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 423px;
  top: 857px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
.atenas {
  color: #000;
  font-size: 24px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 949px;
  width: 306px;
  height: 59px;
  flex-direction: column;
}
.rectangle141 {
  position: absolute;
  left: 607px;
  top: 1079px;
  width: 308px;
  height: 72px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle134 {
  position: absolute;
  left: 0;
  top: 1171px;
  width: 1528px;
  height: 100px;
  background-color: #d9d9d9;
}
.bienestarEstudiantil {
  color: #000;
  font-size: 20px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 673px;
  top: 1203px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.solicitarCita {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 684px;
  top: 1098px;
  width: 161px;
  height: 34px;
  flex-direction: column;
}
.rectangle136 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1528px;
  height: 127px;
  background-color: #1b3069;
}
.indice10 {
  position: absolute;
  left: 29px;
  top: 8px;
  width: 150px;
  height: 107px;
  background-image: url('/assets/indice10.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inicio {
  color: #fff;
  font-size: 26px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 917px;
  top: 48px;
  width: 81px;
  height: 35px;
  flex-direction: column;
}
.contacto {
  color: #fff;
  font-size: 26px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1048px;
  top: 50px;
  width: 131px;
  height: 33px;
  flex-direction: column;
}
.sobreNosotros {
  color: #fff;
  font-size: 26px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1200px;
  top: 48px;
  width: 188px;
  height: 30px;
  flex-direction: column;
}
.group {
  position: absolute;
  left: 1460px;
  top: 39.814px;
  width: 41px;
  height: 43.5171px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.psicologia {
  color: #fff;
  font-size: 16px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1322px;
  top: 309px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2015UTNTodosLosDerechosReserva {
  color: #000;
  font-size: 16px;
  font-family: Century Gothic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 595px;
  top: 1228px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
