<div class="rectangle43"></div>
<div class="rectangle53"></div>
<div class="carlosGonzales">Carlos Gonzáles</div>
<div class="goncarEstUtnAcCr">
  <a href="mailto:goncar@est.utn.ac.cr" target="_blank" rel="noreferrer" class="textBlock">goncar@est.utn.ac.cr</a>
</div>
<div class="rectangle31"><img src="assets/rectangle-31-icon.svg" alt="" class="icon" /></div>
<div class="andresHernandez">Andrés Hernández</div>
<div class="carEstUtnAcCr">
  <a href="mailto:goncar@est.utn.ac.cr" target="_blank" rel="noreferrer" class="textBlock2">car@est.utn.ac.cr</a>
</div>
<div class="rectangle33"></div>
<div class="karenAguirre">Karen Aguirre</div>
<div class="eduardoMiranda">Eduardo Miranda</div>
<div class="guirrKaEstUtnAcCr">
  <p class="labelWrapper">
    <span class="label">guirrKa</span>
    <a class="label2" href="mailto:car@est.utn.ac.cr" target="_blank" rel="noreferrer">@est.utn.ac.cr</a>
  </p>
</div>
<div class="rectangle34"></div>
<div class="rectangle54"></div>
<div class="ingresar">Ingresar</div>
<div class="ingresar2">Ingresar</div>
<div class="ingresar3">Ingresar</div>
<div class="ingresar4">Ingresar</div>
<div class="istockphoto871547412612x6121"></div>
<div class="bitacoraDeCurso">Bitácora de Curso</div>
<div class="rectangle55"></div>
<div class="cursos">Cursos</div>
<div class="recursos">Recursos</div>
<div class="ayuda">Ayuda</div>
<div class="rectangle51"><img src="assets/rectangle-51-icon.svg" alt="" class="icon2" /></div>
<div class="manuelPerez">Manuel Perez</div>
<div class="polygon5"><img src="assets/polygon-5-icon.svg" alt="" class="icon3" /></div>
<div class="marcSchmidtProfesorDeMatematic"></div>
<div class="indice2"></div>
<div class="rectangle50"></div>
<div class="bienestarEstudiantil">Bienestar Estudiantil</div>
<div class="rectangle37"></div>
<div class="rectangle38"></div>
<div class="eduaMirEstUtnAcCr">
  <p class="labelWrapper2">
    <span class="label3">eduaMir</span>
    <a class="label4" href="mailto:car@est.utn.ac.cr" target="_blank" rel="noreferrer">@est.utn.ac.cr</a>
  </p>
</div>
<div class="image22"></div>
<div class="personasEmocionalesWide1"></div>
<div class="istockphoto1250436971612x6121"></div>
<div class="rectangle48"></div>
<div class="visualizacionDeEstudiantes">Visualización de estudiantes</div>
<div class="sillaDeRuedas"><img src="assets/silla-de-ruedas-icon.svg" alt="" class="icon4" /></div>
<div class="_2015UTNTodosLosDerechosReserva">© 2015 UTN Todos los Derechos Reservados</div>