<div class="sillaDeRuedas"><img src="assets/silla-de-ruedas-icon.svg" alt="" class="icon" /></div>
<div class="rectangle143"><div class="icon2"></div></div>
<div class="rectangle141"><div class="icon3">
  <button mat-raised-button color="primary" routerLink="/seguridad/login">Buscar</button>
</div></div>
<div class="encuentraTuContrasena">Encuentra tu contraseña</div>
<div class="buscarPorUsuario">Buscar por usuario</div>
<div class="usuario">Usuario:</div>
<div class="correoElectronico">Correo electrónico:</div>
<div class="rectangle145"><div class="icon4"><button mat-raised-button routerLink="/seguridad/login" color="primary">Buscar</button></div></div>
<div class="buscarPorDireccionDeCorreo">Buscar por dirección de correo</div>
<div class="paraResetearTuContrasenaEnviaT">
  Para resetear tu contraseña, envía tu nombre de usuario o tu dirección email. Si no te encontramos en la base de
  datos, un correo será enviado con las instrucciones de restauración.
</div>
<div class="rectangle1432"><div class="icon5"><mat-form-field class="example-full-width">
  <input matInput>
</mat-form-field></div></div>
<div class="rectangle144"><div class="icon6"><mat-form-field class="example-full-width">
  <input matInput>
</mat-form-field></div></div>
<div class="rectangle1412"><img src="assets/rectangle-141-icon2.svg" alt="" class="icon7" /></div>
<div class="rectangle146"><img src="assets/rectangle-146-icon.svg" alt="" class="icon8" /></div>
