<div class="rectangle34"></div>
<div class="boletaDeSolicitudDeAtencionPsi">Boleta de Solicitud de Atención Psicológica VVE-ABE-PS-01</div>
<div class="rectangle35"></div>
<div class="estimadoAEstudianteEsteServici">
  <div class="textBlock">Estimado/a estudiante:</div>
  <div class="textBlock2"><p></p></div>
  <div class="textBlock3">
    Este servicio es brindado desde el Área de Bienestar Estudiantil de Vida Estudiantil para estudiantes regulares de
    la Universidad Técnica Nacional. Por lo tanto, la persona debe estar inscrita en alguna de las carreras que oferta
    la universidad y haber matriculado en el cuatrimestre vigente.
  </div>
  <div class="textBlock4"><p></p></div>
  <div class="textBlock5">La atención psicológica se ofrece en las sedes Atenas, Central, Guanacaste y Pacífico.</div>
  <div class="textBlock6"><p></p></div>
  <div class="textBlock7">
    Le agradecemos completar la información solicitada y la profesional a cargo en cada sede se estará poniendo en
    contacto con usted.
  </div>
  <div class="textBlock8"><p></p></div>
  <div class="textBlock9">
    Recuerde llenar éste formulario una sóla vez y que puede &amp;quot;guardar&amp;quot; parcialmente el llenado de éste
    formulario y luego, ingresar nuevamente para continuar con su llenado. Busque en la esquina superior derecha, donde
    dice &amp;quot;guardar respuestas&amp;quot;y así completar el formulario.
  </div>
</div>
<div class="rectangle36"></div>
<div class="rectangle37"></div>
<div class="seleccioneElCuatrimestreParaEl">
  Seleccione el cuatrimestre para el que está realizando la presente solicitud.
</div>
<div class="rectangle33"></div>
<div class="porFavorEscoja">Por favor escoja...</div>
<div class="polygon3"><img src="assets/polygon-3-icon.svg" alt="" class="icon" /></div>
<div class="image1"></div>
<div class="rectangle38"></div>
<div class="siguiente">Siguiente</div>
<div class="star1"><img src="assets/star-1-icon.svg" alt="" class="icon2" /></div>