<div class="rectangle64"><img src="../assets/Imagenes/InfoPsicologia/rectangle-64-icon.svg" alt="" class="icon" /></div>
<div class="aTENCIONPSICOLOGICA">ATENCIÓN PSICOLÓGICA</div>
<div class="rectangle65"></div>
<div class="rectangle66"></div>
<div class="pROCESOSDEBIENESTARESTUDIANTIL">PROCESOS DE BIENESTAR ESTUDIANTIL</div>
<div class="rectangle75"></div>
<div class="esteServicioEstaOrientadoABrin">
  <div class="textBlock">
    Este servicio está orientado a brindar atención psicológica para estudiantes regulares que requieran un
    acompañamiento psicoterapéutico breve (5 a 6 sesiones) para el desarrollo de habilidades psicosociales que promuevan
    la permanencia en el contexto educativo.
  </div>
  <div class="textBlock2"><p></p></div>
  <div class="textBlock3">
    La solicitud se realiza de forma personal y voluntaria por la persona estudiante que requiere la atención,
    escribiendo un correo electrónico a la persona Encargada del Subárea de Bienestar Estudiantil de su Sede.
  </div>
  <div class="textBlock4"><p></p></div>
  <div class="textBlock5">
    Se brinda el servicio en modalidad remota-telepsicología (telefónica o video llamada) o de manera presencial en el
    campus de la sede.
  </div>
  <div class="textBlock6"><p></p></div>
  <div class="textBlock7">
    Este es un servicio confidencial y gratuito, se ofrece durante todo el año y es exclusivo para estudiantes regulares
    de la Institución, es decir, para estudiantes que están inscritos en una de las carreras que imparte la Universidad
    en cualquiera de sus niveles y que haya formalizado su matrícula en el periodo lectivo vigente.
  </div>
  <div class="textBlock8"><p></p></div>
  <div class="textBlock9">
    El servicio se oferta de acuerdo con los horarios y disponibilidad de agenda de la persona profesional a cargo del
    servicio. Por lo tanto, se anotan los datos de la persona solicitante y se le contactará posteriormente para
    coordinar la cita
  </div>
  <div class="textBlock10">.</div>
  <div class="textBlock11">Si debe cancelar o reprogramar una cita, debe hacerlo con 24 horas de anticipación.</div>
  <div class="textBlock12"><p class="labelWrapper"></p></div>
  <div class="textBlock13"><p></p></div>
</div>
<div class="cuadros">
<div class="rectangle86"><img src="../assets/Imagenes/InfoPsicologia/rectangle-86-icon.svg" alt="" class="icon2" /></div>
<div class="rectangle87"><img src="../assets/Imagenes/InfoPsicologia/rectangle-87-icon.svg" alt="" class="icon3" /></div>
<div class="rectangle89"><img src="../assets/Imagenes/InfoPsicologia/rectangle-89-icon.svg" alt="" class="icon4" /></div>
<div class="rectangle88"><img src="../assets/Imagenes/InfoPsicologia/rectangle-88-icon.svg" alt="" class="icon5" /></div>
<div class="rectangle90"></div>
<div class="rectangle91"><img src="../assets/Imagenes/InfoPsicologia/rectangle-91-icon.svg" alt="" class="icon6" /></div>
<div class="rectangle92"><img src="../assets/Imagenes/InfoPsicologia/rectangle-92-icon.svg" alt="" class="icon7" /></div>
<div class="rectangle93"><img src="../assets/Imagenes/InfoPsicologia/rectangle-93-icon.svg" alt="" class="icon8" /></div>
</div>
<div class="sede">Sede</div>
<div class="_2435100Ext1010">2435-10-00 ext.1010</div>
<div class="telefono">Teléfono</div>
<div class="citasbienestarPacificoUtnAcCr">
  <a href="mailto:citasbienestar.pacifico@utn.ac.cr" target="_blank" rel="noreferrer" class="textBlock14">
    citasbienestar.pacifico@utn.ac.cr
  </a>
</div>
<div class="correo">Correo</div>
<div class="ceciliaSojoDelgado">Cecilia Sojo Delgado</div>
<div class="responsable">Responsable</div>
<div class="pacifico">Pacífico</div>
<div class="rectangle141"><img src="../assets/Imagenes/InfoPsicologia/rectangle-141-icon.svg" alt="" class="icon9" /></div>
<div class="importanteLaAtencionPsicologic">
  <div class="textBlock15">Importante:</div>
  <div class="textBlock16">
    <p class="labelWrapper2">
      <span class="label">
        La atención psicológica que se brinda en el Subárea de Bienestar Estudiantil, no es un servicio de urgencias o
        una línea de intervención en crisis
      </span>
      <span class="label2">.</span>
    </p>
  </div>
</div>
<div class="rectangle134"></div>
<a routerLink="/boletasSolicitudes">
<div class="solicitarCita">Solicitar Cita</div>
</a>
<div class="rectangle136"></div>
<a routerLink="">
<div class="indice10"><img src="../assets/Imagenes/InfoPsicologia/indice10.png" alt=""></div>
</a>
<a routerLink="">
<div class="inicio">Inicio</div>
</a>
<a routerLink="">
<div class="contacto">Contacto</div>
</a>
<a routerLink="">
<div class="sobreNosotros">Sobre nosotros</div>
</a>
<div class="group"><img src="../assets/Imagenes/InfoPsicologia/group-icon.svg" alt="" class="icon10" /></div>
<a routerLink="/areas">
<div class="rectangle144"><img src="../assets/Imagenes/InfoPsicologia/rectangle-144-icon.svg" alt="" class="icon11" /></div>
<div class="psicologia">Psicología</div>
</a>
<a routerLink="">
  
<div class="rectangle145"><img src="../assets/Imagenes/InfoPsicologia/rectangle-145-icon.svg" alt="" class="icon12" /></div>
<div class="institucionesExternas">Instituciones externas</div>
</a>
<a routerLink="/Info_Orientacion">
<div class="rectangle146"><img src="../assets/Imagenes/InfoPsicologia/rectangle-146-icon.svg" alt="" class="icon13" /></div>
<div class="orientacionEstudiantil">Orientación estudiantil</div>
</a>
<a routerLink="/Info_Psicopedagía">
<div class="rectangle147"><img src="../assets/Imagenes/InfoPsicologia/rectangle-147-icon.svg" alt="" class="icon14" /></div>
<div class="psicopedagogia">Psicopedagogía</div>
</a>


<div class="bienestarEstudiantil">Bienestar Estudiantil</div>
<div class="_2015UTNTodosLosDerechosReserva">© 2015 UTN Todos los Derechos Reservados</div>